@import 'variables';
@import 'mixins';

body {
	background-color: #F5F5F5;
	font-family: $lato;
}

@include selection {
    background-color: $blue;
    color: white;
}
body {
	&.cms-index-index {
		&.cms-home {
			.backgroundWhite {
				background: transparent !important;
			}
		}
	}
}

.cont-loader {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	top: 0;
	left: 0;
	z-index: 100;
	&__content {
		animation-name: loadAnimate;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		img {
			width: 220px;
			display: block;
			margin: 0 auto;
		}
		@keyframes loadAnimate {
			0% {
				opacity: .3;
			}
			100% {
				opacity: 1;
			}
		}
	}
}

header {
	position: relative;
	box-shadow: 0 3px 15px rgba(0,0,0,.15);
	z-index: 1;
	.pre-head {
		background-color: $blue;
		.pre-head-nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			&__left, &__right {
				ul {
					display: flex;
					align-items: center;
					margin: 0;
					padding: 0;
					list-style: none;
					li {
						a {
							display: block;
							padding: .25em 0;
							font-size: .875em;
							color: white;
							text-transform: uppercase;
							text-decoration: none;
							transition: .3s;
							&:hover {
								color: $orange;
							}
						}
					}
				}
			}
			&__left {
				ul {
					li {
						padding-right: 1.5em;
					}
				}
			}
			&__right {
				ul {
					li {
						&.check-tracking {
							display: flex;
							align-items: center;
							span {
								font-size: .875em;
								color: white;
								text-transform: uppercase;
							}
							a {
								padding-left: .35em;
								color: $orange;
								font-weight: 800;
								&:hover {
									text-decoration: underline;
								}
							}
						}
					}
				}
			}
		}
	}
	.mid-head {
		padding: 1em 0;
		background-color: white;
		.middle-nav {
			display: flex;
			align-items: center;
			&__logo, &__login {
				width: 25%;
			}
			&__logo {
				.head-logo {
					display: block;
				}
			}
			&__search {
				width: 50%;
				padding: 0 15px;
				.head-search {
					input {
						width: 100%;
						height: 40px;
						padding-left: 3.5em;
						background-color: white;
						border: 1px solid $orange;
						border-radius: 5px;
						outline: none;
						transition: .3s;
						@include placeholder {
							color: #999999;
						}
						&:focus {
							box-shadow: 0 0 15px rgba(255,161,80,.5);
						}
					}
				}
			}
			&__login {
				.head-nav-cart {
					display: flex;
					align-items: center;
					justify-content: flex-end;
					margin: 0;
					padding: 0;
					list-style: none;
					&__item {
						&--login, &--register {
							display: flex;
							align-items: center;
							padding: 0 15px;
							a {
								display: flex;
								align-items: center;
								font-size: .875em;
								color: $blue;
								font-weight: 700;
								text-decoration: none;
								transition: .3s;
								span {
									display: none;
									@media (min-width: 992px) {
										display: block;
									}
								}
								&:hover {
									color: $orange;
								}
							}
						}
						&--login {
							border-right: 1px solid $blue;
						}
						.btn-cart {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 65px;
							height: 35px;
							background-color: $orange;
							border-radius: 5px;
							text-decoration: none;
							box-shadow: 0 0 10px rgba(255,161,80,.5);
							span {
								color: white;
							}
						}
						.btn-menu-xs {
							position: relative;
							width: 25px;
							height: 22px;
							margin-left: 1.25em;
							@media (min-width: 992px) {
								display: none;
							}
							span {
								position: absolute;
								width: 100%;
								height: 4px;
								display: block;
								background-color: white;
								border-radius: 50px;
								transition: .3s;
							}
							&__l1 {
								top: 0;
							} 
							&__l2 {
								@include center-y;
							}
							&__l3 {
								bottom: 0;
							}
							&.open {
								.btn-menu-xs {
									&__l1 {
										@include center-y;
										transform: rotate(45deg);
									}
									&__l2 {
										opacity: 0;
									}
									&__l3 {
										@include center-y;
										transform: rotate(-45deg);
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.nav-head {
		background-color: white;
		.menu-head {
			display: flex;
			margin: 0;
			padding: 0;
			list-style: none;
			text-align: center;
			&__list {
				position: relative;
				&:not(:last-child) {
					&:after {
						content: "";
						position: absolute;
						width: 1px;
						height: 50%;
						background-color: #cccccc;
						right: 0;
						@include center-y
					}
				}
				a {
					height: 100%;
					display: flex;
					align-items: center;
					padding: .75em .5em;
					font-size: .75em;
					color: #333333;
					text-transform: uppercase;
					text-decoration: none;
					line-height: 1.25em;
					transition: .3s;
					span {
						display: block;
					}
				}
			}
		}
	}
	&.fixed {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 20;
		animation: headSlide .5s forwards;
		-webkit-animation: headSlide .5s forwards;
		@keyframes headSlide {
			0% {
				top: -170px;
			}
			100% {
				top: 0;
			}
		}
		.pre-header {
			padding: .15em 0;
		}
		.header-top {
			padding: .5em 0 0;
			.head-top-row {
				&__col {
					&--logo {
						.logo-header {
							width: 70%;
							img {
								height: auto !important;
							}
						}
					}
				}
			}
		}
		.header-nav {
			.nav-sections {
				margin-bottom: 0;
			}
		}
	}
}

.head-home {
	padding: .75em 0;
	.row-head-home {
		display: flex;
		align-items: center;
		&__col {
			padding-right: 1.5em;
			.btn-head-home {
				display: flex;
				align-items: center;
				color: $blue;
				text-decoration: none;
				&__icon {
					display: block;
				}
				&__txt {
					display: block;
					padding-left: .5em;
					h3 {
						margin: 0;
						font-size: 1.125em;
						font-style: italic;
						font-weight: 900;
					}
					p {
						padding: 0;
						margin: 0;
						font-size: .813em;
					}
				}
			}
		}
	}
}

.container {
	@media (min-width: 768px) {
		width: 1170px !important;
	}
	@media (max-width: 480px) {
		padding: 0;
	}
}
.wrapper {
	background-color: transparent !important;
}
.footer-container {
	background-color: #F5F5F5 !important;
}
.col-main {
	.widget {
		padding-top: 0 !important;
	}
}
.footer-info {
	border-top: none !important;
}
.box-product {
	.price-box {
		.container-regular-price {
			.regular-price-label {
				display: none;
			}
		}
		.price {
			display: inline-block;
			padding: .25em 0 0;
			font-size: 30px;
			line-height: normal;
			color: $red;
			font-weight: 900;
		}
		p {
			&.old-price {
				display: flex;
				margin-bottom: -12px !important;
				margin-top: .5em !important;
				.price-label {
					font-size: 12px;
					color: #333333;
					line-height: normal;
					font-weight: 700;
					text-transform: unset;
				}
				.price {
					display: block;
					padding: 0 .15em;
					font-size: 12px;
					color: #333333;
					line-height: normal;
					font-weight: 700;
				}
				.old-medida {
					font-size: 12px;
					color: #333333;
					line-height: normal;
					font-weight: 700;
				}
			}
		}
		&.special-price-box {
			p {
				&.special-price {
					.price {
						font-size: 16px !important;
						padding: 0 !important;
						margin-top: -5px;
						.unidad {
							font-size: 14px !important;
						}
					}
				}
			}
		}
	}
}
.labelProducto {
	&.discount-label {
		width: 55px;
		height: 55px;
		background-color: $orange;
		border-radius: 100%;
		left: auto;
		top: 5px;
		right: 5px;
		min-width: auto;
		font-size: 18px;
		padding: 14px 0 0;
		small {
			display: block;
			font-size: 12px;
		}
	}
}

.box-titles {
	display: flex;
	padding: 3em 0 2.5em;
	@media (max-width: 768px) {
		padding: 2em 0 2em;
	}
	h1 {
		position: relative;
		margin: 0;
		font-size: 30px;
		font-weight: 700;
		color: #333333;
		text-transform: unset;
		@media (max-width: 480px) {
			font-size: 25px;
		}
		&:after {
			content: "";
			position: absolute;
			width: 80px;
			height: 5px;
			background-color: $orange;
			border-radius: 50px;
			right: 0;
			bottom: -10px;
		}
	}
}

.btn-general {
	display: flex;
	align-items: center;
	padding: 2em 0 0;
	a {
		display: block;
		padding: .5em 2em;
		background-color: $blue;
		border-radius: 50px;
		font-size: 13px;
		color: white;
		text-transform: uppercase;
		text-align: center;
		text-decoration: none;
		font-weight: 700;
		transition: .3s;
		&:hover {
			background-color: $orange;
		}
	}
	&--center {
		justify-content: center;
	}
}

.row-products {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -5px !important;
	&__col {
		width: 25%;
		padding: 0 5px 30px;
		.box-product {
			position: relative;
			height: 335px;
			padding: 1em 1em 2.5em;
			background-color: white;
			border-radius: 8px;
			transition: .3s;
			@media (max-width: 1199px) {
				padding: 1em .5em 2.5em;
			}
			@media (max-width: 480px) {
				height: 280px;
			}
			&__offer {
				position: absolute;
				width: 55px;
				height: 55px;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: $orange;
				border-radius: 100%;
				top: 5px;
				right: 5px;
				z-index: 1;
				@media (max-width: 480px) {
					width: 45px;
					height: 45px;
				}
				span {
					display: block;
					font-size: 20px;
					color: white;
					text-align: center;
					font-weight: 700;
					@media (max-width: 480px) {
						font-size: 18px;
					}
				}
			}
			&__img {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 170px;
				overflow: hidden;
				@media (max-width: 480px) {
					height: 120px;
				}
				img {
					width: 100%;
					transition: .3s;
				}
			}
			&__title {
				margin-top: .75em;
				font-size: 13px;
				color: $blue;
				text-transform: uppercase;
				font-weight: 700;
				line-height: 16px;
				@media (max-width: 480px) {
					font-size: 12px;
				}
			}
			&__sku {
				font-size: 11px;
				color: #999999;
			}
			&__price {
				padding: .35em 0 0;
				font-size: 30px;
				color: $red;
				font-weight: 900;
				@media (max-width: 480px) {
					font-size: 25px;
				}
			}
			&__price-before {
				margin: -5px 0 0;
				font-size: 12px;
				color: #333333;
				font-weight: 700;
			}
			&__btn {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 170px;
				height: 35px;
				background-color: $blue;
				border-radius: 50px;
				bottom: -16px;
				box-shadow: 0 3px 15px rgba(0,93,162,.5);
				font-size: 13px;
				color: white;
				text-transform: uppercase;
				font-weight: 700;
				text-decoration: none;
				transition: .3s;
				@include center-x;
				@media (max-width: 480px) {
					width: 130px;
					font-size: 12px;
				}
				&:hover {
					background-color: $orange;
					box-shadow: 0 3px 15px rgba(255,161,80,.5);
				}
			}
			&:hover {
				box-shadow: 0 0 20px rgba(0,0,0,.1);
				.box-product {
					&__img {
						img {
							transform: scale(1.05);
						}
					}
				}
			}
		}
	}
}

.slick-slide {
	outline: none;
	a {
		outline: none;
	}
}
.slick-dots {
	position: relative;
	display: flex;
	justify-content: center;
	padding: 1em 0 0;
	margin: 0 !important;
	bottom: 0;
	li {
		margin: 0 .25em !important;
		button {
			padding: 0;
			&:before {
				content: "";
				position: absolute;
				width: 12px;
				height: 12px;
				background-color: #DDDDDD;
				border-radius: 100%;
				opacity: 1;
				transition: .3s;
				@include center-all;
			}
			&:hover {
				&:before {
					background-color: #999999;
				}
			}
		}
		&.slick-active {
			button {
				&:before {
					content: "";
					background-color: $orange;
					opacity: 1;
				}
			}
		}
	}
}

.slide-home {
	@media (max-width: 768px) {
		margin-bottom: 15px !important;
	}
	&__img {
		a {
			display: block;
			img {
				width: 100%;
				&.img-lg {
					@media (max-width: 768px) {
						display: none;
					}
				}
				&.img-xs {
					display: none;
					@media (max-width: 768px) {
						display: block;
					}
				}
			}
		}
	}
	.slick-dots {
		padding: .75em 0 0;
		li {
			margin: 0 .5em;
			button {
				&:before {
					width: 15px;
					height: 15px;
				}
			}
		}
	}
}

.section-banner {
	.banner-slide {
		margin: 0;
		&__item {
			.banner-slide-row {
				display: flex;
				margin: 0 -15px;
				@media (max-width: 768px) {
					flex-wrap: wrap;
					margin: 0 -5px;
				} 
				&__large, &__small {
					a {
						position: relative;
						display: block;
						border-radius: 8px;
						overflow: hidden;
						&:after {
							content: "";
							position: absolute;
							width: 100%;
							height: 100%;
							opacity: 0;
							background-color: rgba(255,255,255,.3);
							top: 0;
							left: 0;
							transition: .3s;
						}
						img {
							width: 100%;
						}
						&:hover {
							&:after {
								opacity: 1;
							}
						}
					}
				}
				&__large {
					width: 50%;
					padding: 0 15px;
					@media (max-width: 768px) {
						width: 100%;
						padding: 5px;
					}
				}
				&__small {
					width: 25%;
					padding: 0 15px;
					@media (max-width: 768px) {
						width: 50%;
						padding: 5px;
					}
				}
			}
		}
	}
	.slick-dots {
		padding: .5em 0;
		@media (max-width: 768px) {
			padding: 0;
		}
	}
	.banner-down {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
		@media (max-width: 768px) {
			margin: 0 -5px;
		}
		&__full, &__half {
			padding: 0 15px;
			@media (max-width: 768px) {
				padding: 5px;
			}
			a {
				position: relative;
				display: block;
				border-radius: 8px;
				overflow: hidden;
				&:after {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					opacity: 0;
					background-color: rgba(255,255,255,.3);
					top: 0;
					left: 0;
					transition: .3s;
				}
				img {
					width: 100%;
					&.img-lg {
						@media (max-width: 768px) {
							display: none;
						}
					}
					&.img-xs {
						display: none;
						@media (max-width: 768px) {
							display: block;
						}
					}
				}
				&:hover {
					&:after {
						opacity: 1;
					}
				}
			}
		}
		&__full {
			width: 100%;
			padding-bottom: 30px;
			@media (max-width: 768px) {
				padding-bottom: 5px;
			}
		}
		&__half {
			width: 50%;
		}
	}
}

.category-home {
	.category-h-row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
		@media (max-width: 992px) {
			margin: 0 -5px;
		}
		&__col {
			padding: 0 15px 2.5em;
			.box-category-h {
				position: relative;
				display: block;
				&:after {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					background-color: rgba(255,161,80,.5);
					border-radius: 8px;
					top: 0;
					left: 0;
					opacity: 0;
					transition: .3s;
				}
				&__img {
					border-radius: 8px;
					overflow: hidden;
					img {
						width: 100%;
					}
				}
				&__title {
					position: absolute;
					width: 190px;
					height: 45px;
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: white;
					border-radius: 5px;
					bottom: -20px;
					font-size: 14px;
					color: #333333;
					text-transform: uppercase;
					font-weight: 700;
					text-align: center;
					box-shadow: 0 3px 15px rgba(0,0,0,.15);
					transition: .3s;
					z-index: 1;
					@include center-x;
					span {
						display: block;
					}
				}
				&:hover {
					&:after {
						opacity: 1;
					}
					.box-category-h {
						&__title {
							background-color: $blue;
							color: white;
						}
					}
				}
			}
			&--l {
				width: 50%;
				@media (max-width: 992px) {
					width: 33.3333%;
					padding: 0 5px 2.5em;
				}
				@media (max-width: 768px) {
					width: 50%;
				}
				@media (max-width: 480px) {
					width: 100%;
				}
				.box-category-h {
					&__img {
						@media (max-width: 992px) {
							display: flex;
							align-items: center;
							justify-content: center;
						}
						@media (max-width: 768px) {
							height: 230px;
						}
						img {
							@media (max-width: 992px) {
								width: 492px;
							}
						}
					}
				} 
			}
			&--s {
				width: 25%;
				@media (max-width: 992px) {
					width: 33.3333%;
					padding: 0 5px 2.5em;
				}
				@media (max-width: 768px) {
					width: 50%;
				}
				@media (max-width: 480px) {
					width: 100%;
				}
				.box-category-h {
					&__img {
						@media (max-width: 768px) {
							height: 230px;
							display: flex;
							align-items: center;
							justify-content: center;
						}
					}
				}
			}
		}
	}
}

.cont-products-home {
	padding: 0 0 2em;
	.row-products {
		&__col {
			width: 20%;
			padding: 0 5px 35px;
			.box-product {
				&:hover {
					box-shadow: none;
				}
			}
		}
	}
	.slick-dots {
		padding: 0;
	}
}

.marcas-home {
	padding: 2em 0 3em;
	background-color: white;
	.box-titles {
		padding: 0 0 4em;
	}
	.slide-marcas {
		margin: 0;
		&__item {
			a {
				display: block;
				opacity: .5;
				filter: grayscale(1);
				transition: .3s;
				img {
					display: block;
					margin: 0 auto;
				}
				&:hover {
					opacity: 1;
					filter: none;
				}
			}
		}
	}
	.slick-track {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.cont-info {
	padding: 0 0 3.5em;
	@media (max-width: 480px) {
		padding: 0 0 2em;
	}
	.box-titles {
		padding: 2em 0 2.5em;
	}
	.info-row {
		display: flex;
		flex-wrap: wrap;
		padding: 2em 0 0;
		@media (max-width: 480px) {
			padding: 0;
		}
		&__col {
			width: 25%;
			padding: 1.5em 0;
			border-right: 1px solid #C3C3C3;
			@media (max-width: 992px) {
				width: 50%;
				border: none;
			}
			&:first-child {
				border-left: 1px solid #C3C3C3;
				@media (max-width: 992px) {
					border: none;
				}
			}
			.box-info {
				padding: 0 2.5em;
				@media (max-width: 480px) {
					padding: 0 1em;
				}
				img {
					display: block;
					margin: 0 auto;
				}
				.info-list {
					margin: 0;
					padding: 0;
					list-style: none;
					text-align: center;
					color: #666666;
					&__title {
						padding: .75em 0 0;
						font-size: 16px;
						font-weight: 900;
						text-transform: uppercase;
						@media (max-width: 480px) {
							font-size: 14px;
						}
					}
					&__txt {
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 14px;
						img {
							margin: 0 .15em 0 0;
						}
						a {
							display: block;
							color: #666666;
							text-decoration: none;
							transition: .3s;
							&:hover {
								color: $blue;
							}
						}
					}
				}
			}
		}
	}
}

.cont-newsletter {
	background-color: white;
	padding: 0 0 3em;
	.box-titles {
		justify-content: center;
		h1 {
			font-size: 20px;
			color: $blue;
			text-align: center;
			text-transform: uppercase;
			font-weight: 900;
			&:after {
				bottom: -15px;
				@include center-x;
			}
		}
	}
	p {
		margin: 0;
		font-size: 16px;
		color: #666666;
		text-align: center;
	}
	.form-newsletter {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1em 0 0;
		input {
			display: block;
			width: 450px;
			height: 40px;
			background-color: white;
			padding-left: 1.25em;
			border: 1px solid $orange;
			border-radius: 5px;
			outline: none;
			@media (max-width: 480px) {
				width: 310px;
			}
			@include placeholder {
				color: #999999;
			}
			&:focus {
				box-shadow: 0 0 15px rgba(255,161,80,.5);
			}
		}
		button {
			display: block;
			width: 120px;
			height: 40px;
			margin-left: .35em;
			background-color: $orange;
			border: 1px solid $orange;
			border-radius: 5px;
			font-size: 14px;
			color: white;
			text-transform: uppercase;
			font-weight: 700;
			transition: .3s;
			&:hover {
				background-color: $blue;
				border-color: $blue;
			}
		}
	}
}

.cont-marcas {
	padding: 3em 0;
	.marcas-title {
		padding: 0 0 2em;
		text-align: center;
		h1 {
			position: relative;
			margin: 0 0 1em;
			padding: 0;
			font-size: 30px;
			color: #333333;
			text-transform: uppercase;
			font-weight: bold;
			&:after {
				content: "";
				position: absolute;
				width: 70px;
				height: 6px;
				background-color: #D0011B;
				border-radius: 50px;
				bottom: -10px;
				@include center-x;
			}
		}
		p {
			margin: 0;
			padding: 0;
			font-size: 14px;
			color: #666666;
		}
	}
	.row-marcas {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
		@media (max-width: 480px) {
			margin: 0 -5px;
		}
		&__col {
			width: 20%;
			padding: 0 15px 25px;
			@media (max-width: 991px) {
				width: 25%;
			}
			@media (max-width: 768px) {
				width: 33.33333%;
			}
			@media (max-width: 480px) {
				width: 50%;
				padding: 0 5px 20px;
			}
			.box-marca {
				position: relative;
				display: block;
				border: 1px solid #cccccc;
				border-radius: 1em;	
				transition: .3s;
				&__img {
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					height: 190px;
					padding: 1em;
					border-radius: 1em;
					overflow: hidden;
					opacity: .5;
					filter: grayscale(100%);
					transition: .3s;
					@media (max-width: 1199px) {
						height: 150px;
					}
					@media (max-width: 768px) {
						opacity: 1;
						filter: none;
					}
					img {
						width: 100%;
					}
				}
				&__btn {
					position: absolute;
					display: block;
					width: 130px;
					padding: .35em 1.5em;
					background-color: #D0011B;
					border-radius: 50px;
					font-size: 12px;
					color: white;
					text-align: center;
					font-weight: bold;
					opacity: 0;
					transition: .3s;
					bottom: -20px;
					@include center-x;
					@media (max-width: 768px) {
						bottom: -10px;
						opacity: 1;
					}
				}
				&:hover {
					transform: translate(0,-3px);
					box-shadow: 0 3px 20px rgba(0,0,0,.15);
					@media (max-width: 768px) {
						transform: none;
					}
					.box-marca {
						&__img {
							opacity: 1;
							filter: none;
						}
						&__btn {
							bottom: -10px;
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

.label-cyber {
	position: absolute;
	width: 115px;
	top: 155px;
	right: 5px;
	z-index: 99999;
	@media (max-width: 480px) {
		width: 90px;
		top: 115px;
		right: 0;
	}
	img {
		width: 100%;
	}
}

body {
	&.catalog-product-view {
		.label-cyber {
			width: 120px;
			top: 20px;
    		right: 0px;
		}
		.relatedContent {
			.label-cyber {
				top: 155px;
			}
		}
	}
}